/*Variables globales*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --fuente: "Montserrat", serif;
    
}


/*body simple*/

.body{
    background-color: red;
    font-family: var(--fuente);
    margin: 0rem;
}

.body__header{
    background-color: #FEFCFD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.body__header__h1{
    color: #07BEB8;
    font-size: 1.3rem;

}

.body__nav__header__nav__a-simple{
    color: black;
    margin-right: 2rem;
    text-decoration: none;
    font-size: 1.3rem;
}

.body__nav__header__nav__a-hex{
    color: black;
    margin-right: 2rem;
    text-decoration: none;
    font-size: 1.3rem;
}

.body__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.body__main__section{
    background-color: black;
    color: antiquewhite;
    font-size: 1.5rem;
    display: flex;
    margin-top: 10rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border-radius: 0.4rem;
    margin-bottom: 3rem;
}

.body__main__section__letras-fondo{
    margin: 0rem;

}

.body__main__section__color-fondo{
    color: #07BEB8;
    margin: 0rem;
    padding-left: 0.5rem;
}


.body__main__btn{
    background-color: red;
    color: antiquewhite;
    width: 15rem;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}



/*body hex*/

.hex__body{
    background-color: #3DCCC7;
    font-family: var(--fuente);
    margin: 0rem;
}


.hex__body__main__section__color-fondo{
    color: #07BEB8;
    margin: 0rem;
    padding-left: 0.5rem;
}


.hex__body__main__btn{
    background-color: #3DCCC7;
    color: antiquewhite;
    width: 15rem;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}



