/*-----------General----------*/
body{
    margin: 0;
    background-color: aliceblue;

}



/*-----------Header----------*/


/* tocar cabecera color y espacios */
.cabecera{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* tocar imagen */
.cabecera__logo{
    width: 30%;
}


/* cambiar la lista de la cabecera */
.cabecera__nav__lista{
    display: flex;
}

/* cambiar margen y color de las cosas de la lista */
.cabecera__nav__lista__enlace{
    margin-right: 1.5rem;
    color: aliceblue;
}

/* modificas solo lo que seleccionas */
.cabecera__nav__lista__enlace:hover{
    color: green;
}


/* Quitar subrayado */
a{
    text-decoration: none;
}


/*-----------Seccion principal----------*/


/* este modifica el main, lo pone en comlumna y separado con el padding */
.principal{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
    align-items: center;
}

/* modifica el titulo el tamaño y alineado */
.principal__titulo{
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

/* tocar l */
.principal__viajes{
    display: flex;
    width: 100%;
    justify-content: space-evenly


}

/*  */
.principal__viajes__art{
    width: 30%;
}

/*  */
.principal__viajes__art__img{
    width: 100%;
    border-radius: 1.2rem;
}


.principal__viajes__art__contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.principal__viajes__art__contenedor__texto{
    font-weight: bold;
    width: 70%;
}

.principal__viajes__art__contenedor__enlace{
    background-color: grey;
    color: aliceblue;
    padding: 0.5rem;
    border-radius: 0.35rem;
    font-size: 0.9rem;
    margin-left: 0.75rem;
    text-align: center;
}


.principal__viajes__art__contenedor__enlace:hover{
    background-color: black;
}


.principal__contacto{
    margin-top: 5rem;
    width: 100%;
    background-color: black;
}


.principal__contacto__form__contenedor{
    display: flex;
    flex-direction: column;
    border: 0;
    margin-top: 5rem;
    margin-bottom: 5rem;
    align-items: center;
}


/*Crear un nuevo contenedor para tener el mismo tamaño de los hijos*/
.pricipal__contacto__form__contenedor__div{
    display: flex;
    width: 30%;
    flex-direction: column;
}

/*Poner en el contenedor de antes el maximo tamaño para que 
quede centrado*/
.principal__contacto__form__contenedor__titulo{
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.principal__contacto__form__contenedor__div__email{
    margin-bottom: 0.5rem;
    padding: 0.35rem;
    border: 0;
}

.principal__contacto__form__contenedor__div__boton{
    margin-bottom: 0.5rem;
    padding: 0.35rem;
    text-align: center;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    border-radius: 0.35rem;
    background-color: gray;
    color: aliceblue;
    font-size: 0.9rem;
}

.principal__contacto__form__contenedor__div__boton:hover{
    background-color: green;
    color: black;
}